.bundle
db/*.sqlite3
log/*.log
tmp
tmp/*
tmp/**/*
public/system/*
public/system/**/*
.DS_Store
.sass-cache
.sass-cache/*
.sass-cache/**/*
_content
_content/*
_content/**/*
config/credentials.yml
lib/jruby
lib/jruby/*
lib/jruby/**/*
projects/*.git
projects/**/*.git