%article#content
  .vex-tabdiv{:width => 960, :scale => 1.0}
    tabstave time=3/4
    notes :16 1/5 :16 1/5 :16 1/5 :16 1/5 :8 1/5 | :32 1/5 :32 1/5 :16 1/5 :16 1/5 :16 1/5 :16 1/5 :16 1/5
    
    tabstave
    notes (8/2.7b9b7/3) (5b6/2.5b6/3)v 7s0/4 | (5/2.6/3.7/4)v