html, body {
  width: 100%;
  min-height: 100%;
  color: $text-color;
  //background: #9e815c url("/images/frame.jpg");
  background: #9e815c url("/images/body.jpg");
  //font-family: $body-font;
  font-family: $title-font;
  font-size: 0.8em;
  line-height: 0.75;
  text-align: center;
}

body * {
  //background: #950001 url("/images/frame.jpg");
}

.frame {
  @include clearfix;
  width: $frame-width;
  margin: 0 auto;
}
